<h2>Player details</h2>
<div>
    <div>
        <label><b>Name: </b></label> {{player.name}}
    </div>
    <div>
        <label><b>Position: </b></label> {{player.position}}
    </div>
    <div>
        <label><b>Email: </b></label> {{player.emailId}}
    </div>
    <div>
        <label><b>Age:</b></label>
    </div>
    <div>
        <label><b>Skill level:</b></label>
    </div>
    <div>
        <label><b>Net Value:</b></label>
    </div>
    <div>
        <label><b>Bio:</b></label>
    </div>
    <div>
        <label><b>Gallery:</b></label>
    </div>
    <div class="gallery">
        <a target="_blank" href="app/assets/img_gerrard1.jpeg">
          <img src="src/main/resources/angular-frontend/src/assets/gerrard-1.jpeg" width="600" height="400">
        </a>
        <div class="desc">The Stevie G celebration</div>
      </div>
</div>